<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0202029 0.00531843 0.159378" rpy="0.000490618 0.0239541 -1.56553" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0202029 0.00531843 0.159378   -0.0082726 0.00866412 -0.705188 0.708919 tool0 camera_link" />
</launch>
